<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:text="'Dear '+${firstName}+' '+${lastName}"/>
<span>Ticket
    <a th:href="@{http://localhost:8080/tickets/{ticketId}(ticketId=${ticketId})}"
       th:text="'localhost:8080/tickets/'+${ticketId}"/>
    was canceled by the Manager.
</span>
</body>
</html>