<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>Dear Managers,</div>
<span>New ticket
    <a th:href="@{http://localhost:8080/tickets/{ticketId}(ticketId=${ticketId})}"
       th:text="'localhost:8080/tickets/'+${ticketId}"/>
    is waiting for your approval.
</span>
</body>
</html>